body {
}

div.main {
    background-color:lightslategray;
    width: 90%;
    height:100%;
    position: relative;
    left:10%;
    margin-left:-5%;
    font-family:'Segoe UI';
}

img.lego {
    box-shadow: 10px 10px 5px #888888;
}