@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Boda Majo y Chid";
    ViewBag.Meses = 11 - DateTime.Now.Month;
    ViewBag.Dias = (new DateTime(2015, 11, 14) - DateTime.Now).Days;
}

@section header
{
    @Styles.Render("~/Content/css")
    <link href='http://fonts.googleapis.com/css?family=Pinyon+Script' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#nav').localScroll(800);

            //.parallax(xPosition, speedFactor, outerHeight) options:
            //xPosition - Horizontal position of the element
            //inertia - speed to move relative to vertical scroll. Example: 0.1 is one tenth the speed of scrolling, 2 is twice the speed of scrolling
            //outerHeight (true/false) - Whether or not jQuery should use it's outerHeight option to determine when a section is in the viewport
            $('#intro').parallax("50%", 0.1);
            $('#second').parallax("50%", 0.1);
            $('.bg').parallax("10%", 0.4);
            $('#third').parallax("50%", 0.1);
            $('#forth').parallax("50%", 0.1);
            $('#fifth').parallax("50%", 0.1);
            $('.bg2').parallax("80%", 0.4);
        })
    </script>
}
<ul id="nav">
    <li><a href="#intro" title="Next Section"><img src="~/Content/Parallax/dot.png" alt="Link" /></a></li>
    <li><a href="#second" title="Next Section"><img src="~/Content/Parallax/dot.png" alt="Link" /></a></li>
    <li><a href="#third" title="Next Section"><img src="~/Content/Parallax/dot.png" alt="Link" /></a></li>
    <li><a href="#forth" title="Next Section"><img src="~/Content/Parallax/dot.png" alt="Link" /></a></li>
    <li><a href="#fifth" title="Next Section"><img src="~/Content/Parallax/dot.png" alt="Link" /></a></li>
</ul>

<div id="intro">
    <div class="story">
        <div class="float-intro">
            <h2 class="titulo">Save the Date</h2>
            <h2 class="titulo">14 Noviembre 2015</h2>
            <h2 class="titulo">Atlixco, Puebla</h2>
        </div>
    </div> <!--.story-->
</div> <!--#intro-->

<div id="second">
    <div class="story">
        <div class="bg"> <img src="~/Content/FotosIndex/_5.png" /> </div>
        <div class="float-right">
            <h2>Sobre la boda</h2>
            <p>Si estas viendo esto, muy posiblemente es porque estás invitado a nuestra boda</p>
            <p>La fecha es el 14 de Noviembre del 2015, a tan solo @ViewBag.Meses meses de hoy, más exacto a @ViewBag.Dias días</p>
            <p>Esperamos que puedas marcar esa fecha en tu calendario y nos acompañes.</p>
        </div>
    </div> <!--.story-->
</div><!--#second-->

<div id="third">
    <div class="container">
        <h2>Datos que vas a necesitar</h2>
        <div class="row">
            <div class="col-md-4">
                <img class="icon" src="~/Content/FotosIndex/iglesia.svg" />
                <h2>Misa</h2>
                <p>Iglesia Nuestra Señora del Camino</p>
                <p><a href="http://goo.gl/maps/yLmn7">Via Atlixcayotl 72450 Puebla, Puebla</a></p>
            </div>
            <div class="col-md-4">
                <img class="icon" src="~/Content/FotosIndex/fiesta.svg" />
                <h2>Fiesta</h2>
                <p>Ex-hacienda La Alfonsina</p>
                <p><a href="http://goo.gl/maps/kyjTp">Boulevard Niños Héroes 808 Atlixco, Puebla</a></p>
            </div>
            <div class="col-md-4">
                <img class="icon" src="~/Content/FotosIndex/hotel.svg" />
                <h2>Hoteles que recomendados</h2>
                <p>
                    Coming soon!
                </p>
            </div>
        </div>
    </div>
</div> <!--#third-->

<div id="forth">
    <div class="story">
        <div class="float-left"> <div style="width: 500px;"><div style="width: 500px; height: 716px; background-image: url('http://b55c4c37b2ccd150548a-ba0da4af74db9f9dcab04158fe0a2716.r70.cf1.rackcdn.com/8d46e71a261eaf86a271812fab09909c.jpg'); position: relative; font-family: Arial, Helvetica, sans-serif; line-height: 1px;"><div style="font-family: Arial, Helvetica, sans-serif; width: 500px; height: 96px; color: #ffffff; font-weight: 700; padding-top: 17px; position: absolute; top: 274px;"><div style="font-size: 20px; text-align: center; height: 34px; line-height: 30px; width: 100%;" align="center"> USE WEDDING ID: <span style="color: #ff0096;">bodamajoychid</span></div><div style="font-size: 14px; text-align: center; height: 30px; width: 100%; margin-top: 12px;" align="center"> OUR WEDPICS SITE: <span style="color: #ff0096;"><a href='https://www.wedpics.com/wedding/MTA1MDI4MQ/album' target='_blank' style="text-decoration:none; color:#ff0096;">www.wedpics.com/wedding/MTA1MDI4MQ/album</a></span></div></div></div><div style="width: 500px;"><img alt="Get apps text" src="http://b55c4c37b2ccd150548a-ba0da4af74db9f9dcab04158fe0a2716.r70.cf1.rackcdn.com/eaa980338edfe7ed3ac1b1c5227f2cc9.png"><a href="https://itunes.apple.com/app/wedpics-wedding-photo-app/id549402355?mt=8" target="_blank" style="text-decoration: none;"><img alt="app store link" src="http://b55c4c37b2ccd150548a-ba0da4af74db9f9dcab04158fe0a2716.r70.cf1.rackcdn.com/9361d4730c5d3be9dd2da5efa3a1bd69.png"></a><a href="https://play.google.com/store/apps/details?id=com.dejami.WedPics&hl=en" target="_blank" style="text-decoration: none;"><img alt="Google Play Store link" src="http://b55c4c37b2ccd150548a-ba0da4af74db9f9dcab04158fe0a2716.r70.cf1.rackcdn.com/6d0f71bb43acb9a0a34d00272e657cc8.png"></a></div><div style="width: 500px; height: 165px; font-family: Arial, Helvetica, sans-serif; background-image: url('http://b55c4c37b2ccd150548a-ba0da4af74db9f9dcab04158fe0a2716.r70.cf1.rackcdn.com/b1373ed8e09157503bba714c38f4f564.jpg'); position: relative;"><div style="color: #ff0096; font-size: 16px; font-weight: 700; position: absolute; top: 100px; left: 22px;"><a href="https://www.wedpics.com/wedding/MTA1MDI4MQ/album" target="_blank" style="text-decoration:none; color:#ff0096;">www.wedpics.com/wedding/MTA1MDI4MQ/album</a></div></div></div> </div>
        <br />
        <div class="float-right">
            <p>
                Nos gusta mucho la idea de intentar algo nuevo, y poder tener la oportunidad de ver la perspectiva de todos, así que estamos usando WedPics para eso, hay una app para iOS y una para Android y si usan la clave 'bodamajoychid' pueden subir sus fotos desde el teléfono o si tienen cámaras más cool pueden usar <a href="https://wedpics.com">el sitio web</a>.
            </p>
        </div>
    </div> <!--.story-->
</div><!--#second-->


<div id="fifth">
    <div class="story">
        <div class="bg2"> <img src="~/Content/FotosIndex/_5.png" /> </div>
        <div class="float-left">
            <p>
                Dado que vamos a vivir en Seattle después de la boda no vamos a poner una mesa de regalos, su presencia es el mejor regalo que pueden darnos.
            </p>
            <p>
                Pero si aún asi quieren darnos un regalo estamos buscando la opción de poner una cuenta bancaria para hacer una transferencia.
            </p>
            <p>
                También estamos viendo usar <a href="http://www.travelersjoy.com/majoychid">Traveler's Joy</a> por si quieren ayudarnos para nuestra luna de miel :).
            </p>
            <p>
                Más que nada esperamos poder verlos y pasar un increíble momento a su lado.
            </p>
        </div>
    </div> <!--.story-->
</div><!--#second-->
