@model wwwroot.Models.PersonaModel
@{
    Layout = "~/Views/Boda/_Persona.cshtml";
}

@section Personal
{
    <p>
        @Model.MensajePersonal
        <br />
    </p>
}
@section Peticion1
{
    <p>
        Ayudar con la planeación para los eventos, además de ayudar con la despedida de Chid.
        <br />
    </p>
}
@section Peticion2
{
    <p>
        El tema de la boda es vintage, entonces para decorar la recepción ando recolectando marcos de fotos antiguos (cualquier tamaño), teteras, tazas, canastas, cámaras, floreros y cosas similares. Si tienen algo de esto que ya no quieran o no necesiten (pues no prometo que regresen :/) y quieren donarlos a la causa me ayudarían mucho n.n
        <br />
    </p>
}
@section Peticion3
{
    <p>
        No estoy en México y esas cosas, así que si alguien esta en Puebla, con tiempo libre y ganas de acompañar a Majo a ver algo relacionado con el evento, se los agradecería mucho.
    </p>
}
@section Necesitar
{
    <p>
        ¡Por ahora eso es todo! Gracias por toda tu ayuda y estamos en contacto para ver los detalles de tu checklist n.n ¡Besos!
    </p>
    <br />
    <b>Check list:</b>
    <ul>
        <li>Moño</li>
        <li>Fajilla</li>
        <li>Pañuelo</li>
        <li>Traje gris</li>
    </ul>
}