@model wwwroot.Models.PersonaModel
@{
    Layout = "~/Views/Boda/_Persona.cshtml";
}

@section Personal{
    <p>@Model.MensajePersonal</p>
    <p>
        Como sabes me voy a casar, pero no voy a estar en Puebla/México en un rato, y para la boda con Majo estamos
        pensando en tener 7 padrinos y 7 madrinas que van a usar los 7 colores del arco iris (si lo sé, cursi)
        el color esta decidido por ti y es el color del fondo y de la parte de arriba del lego que eseta en la foto
        (el cual es totalmente real) lo llevare a México por ahí de Mayo
    </p>
}
@section Peticion1
{
    <p>
        Preparar la despedida de soltero y esas cosas creo y así, osea algo como videojuegos y chelas o chelas y videojuegos
        voy a hacer un grupo en fb ya que no se conocen todos al 100% y esas cosas, una fecha cercana a la boda sería cool creo, es su trabajo realmente así que sólo es recomendación.
    </p>
}
@section Peticion2
{
    <p>
        Para la recepción estamos pensando en un estilo vintage (tampoco estoy seguro de que significa pero parece viejo y cool)
        entonces estamos juntando marcos de fotos antiguos de cualquier tamaño, teteras, tazas, floreros, cámaras para decoración.
        Si tienen algo que puedan donar con un tal vez no regrese porque la gente se lo lleve de centro de mesa pero si se queda son libres de llevarselo de regreso
        estaría super cool.
        Si tienen algo de esto que ya no quieran o no necesiten (pues no prometo que regresen :/) y quieren 
        donarlos a la causa nos ayudarían mucho n.n
    </p>
}
@section Peticion3
{
    <p>
        No estoy en México y esas cosas, así que si alguien esta en Puebla y con tiempo libre y ganas de acompañar a Majo a ver algo relacionado con el evento, se los agradecería mucho.
    </p>
}
@section Necesitar
{
    <p>
        <b>Cosas que vas a necesitar</b>
        <ul>
            <li>Corbata</li>
            <li>Fajilla</li>
            <li>Pañuelo</li>
            <li>Traje negro</li>
            <li>Chance Converse del color (se pueden pedir en línea) para la fiesta</li>
            <li>Chance algo más elegante que un traje negro</li>
        </ul>
    </p>
}